{% extends "base.html" %}
{% load static %}
{% load community_filter %}
{% load humanize %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<style>
    a {
        text-decoration: none; /* Remove underline */
        color: #007bff; /* Bootstrap default blue color for links */
    }
    .news-table {
        width: 100%;
        border-collapse: collapse;
    }
    .news-row {
        display: table-row;
    }
    .news-cell {
        display: table-cell;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        position: relative; /* for tooltip positioning */
        text-align: center; /* Center text within the cell */
    }
    .title-cell {
        font-weight: bold;
        color: #333;
        cursor: help; /* indicates that a tooltip is available */
    }
    .datetime-cell {
        color: #666;
        font-size: 0.9em;
    }


    .title-cell:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100%;
        margin-bottom: 10px;
        background-color: #333;
        color: white;
        padding: 12px 18px; /* Increased padding */
        border-radius: 8px;
        font-size: 0.95em; /* Slightly larger font size */
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        max-width: 500px; /* Set a fixed max-width */
        white-space: normal;
        text-align: left;
        overflow-y: auto;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }

    .title-cell:hover::after {
        opacity: 1;
        visibility: visible;
    }

    .sentiment-scores {
        margin: 20px 0;
    }

    .sentiment-score {
        background-color: #f2f2f2;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;
    }

    .sentiment-bar {
        height: 20px;
        background-color: #4caf50;
        transition: width 0.3s ease;
    }

    .sentiment-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
    }

    .voting-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px; /* Adjust based on your needs */
    }

    .voting-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,.1);
        margin-top: 20px;
    }

    .voting-container form {
        width: 100%;
    }

    .voting-container .form-check {
        margin: 10px 0;
    }

    .voting-container .form-check-input {
        cursor: pointer;
    }

    .voting-container .form-check-label {
        cursor: pointer;
        font-weight: 500;
    }

    .voting-container button[type="submit"] {
        width: 100%;
        margin-top: 20px;
    }

    .tradingview-widgets {
        display: flex;
        justify-content: space-between;
    }

    .tradingview-widget-container {
        flex: 1; /* Each container takes equal width */
        margin: 0 10px; /* Add some space between the widgets */
        height: 350px;
    }

    .investment-calendar-container {
        text-align: center;
        margin: 20px auto;
        max-width: 650px; /* Adjust based on your layout's max width */
    }

    .investment-calendar-container iframe {
        width: 100%;
        border: none; /* Remove border */
        margin-bottom: 10px; /* Space between iframe and attribution */
    }

    .poweredBy {
        font-size: 0.9rem;
        color: #666;
        text-align: center;
        margin-top: 10px;
    }

    .advertisement-container {
        text-align: center; /* Center the advertisement */
        margin: 20px 0; /* Add some space around the ad */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow around the ad for depth */
        border-radius: 8px; /* Optional: Rounds the corners of the ad container */
        overflow: hidden; /* Ensures the border-radius clips the image if needed */
    }

    .advertisement-image {
        width: 100%; /* Ensures the image fills the container */
        max-height: 320px; /* Adjust this value based on your needs */
        object-fit: contain; /* Ensures the image scales properly */
        transition: transform 0.3s ease; /* Smoothly scales the image on hover */
    }

    .advertisement-container:hover .advertisement-image {
        transform: scale(1.05); /* Slightly enlarges the image on hover for a subtle interactive effect */
    }

    .ad-label {
        display: block;
        text-align: center;
        margin-bottom: 8px;
        font-size: 0.8rem;
        color: #666;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .footer {
        text-align: center; /* Center-align text */
        padding: 20px; /* Add some padding */
        background-color: #f2f2f2; /* Light grey background */
        color: #333; /* Darker text color for contrast */
        font-size: 0.9rem; /* Adjust the font size */
        border-top: 1px solid #ddd; /* Add a top border line */
        margin-top: 20px; /* Add some space above the footer */
    }

    .blur-effect {
        filter: blur(5px);
        position: relative;
    }

    .login-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        color: #333;
        border-radius: 5px; /* Optional: if your chart containers have border-radius */
    }

    .column-divider:not(:last-child) {
        border-right: 2px solid #dee2e6;
    }

    .list-group-item-popular {
        background-color: #fff5f5; /* Light red background */
        border-left: 3px solid red; /* Red line on the left side */
    }

</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <h3>시노펙스 신장투석 커뮤니티</h3>
            <hr>
            <div class="row">
                <div class="col-lg-6 column-divider">
                    <div class="weather-info my-4">
                        <h5 class="mb-3" style="text-align: center;">오늘의 날씨</h5>
                        <div class="mb-4">
                            <label for="citySelection" class="form-label"><strong>지역 선택:</strong></label>
                            <select class="form-select" id="citySelection" onchange="window.location.href='?city=' + this.value;">
                                {% for city in cities %}
                                    <option value="{{ city }}" {% if city == selected_city %}selected{% endif %}>{{ city }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">지역</th>
                                    <td>{{ weather_data.name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">상태</th>
                                    <td>{{ weather_data.weather }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">온도</th>
                                    <td>{{ weather_data.temperature }}°C (체감: {{ weather_data.feels }}°C)</td>
                                </tr>
                                <tr>
                                    <th scope="row">최저/최고 온도</th>
                                    <td>{{ weather_data.min_temp }}°C / {{ weather_data.max_temp }}°C</td>
                                </tr>
                                <tr>
                                    <th scope="row">습도</th>
                                    <td>{{ weather_data.humidity }}%</td>
                                </tr>
                                <tr>
                                    <th scope="row">풍속</th>
                                    <td>{{ weather_data.wind_speed }}m/s</td>
                                </tr>
                                <tr>
                                    <th scope="row">풍향</th>
                                    <td>{{ weather_data.wind_deg }}°</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12 advertisement-container">
                            <div class="ad-label"><strong>[광고] 시노텍스 마스크 제품 가상착용, 날씨랑 미세먼지 확인도 간편하게 어플에서!</strong></div>
                            <a href="https://play.google.com/store/apps/details?id=com.lynxbus" target="_blank">
                                <img src="{% static 'synotex_maskapp_ad.png' %}" class="img-fluid advertisement-image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container mt-3">
                        <h4 class="mb-3"><span style="color: red;">⭐ 인기글 ⭐</span></h4>
                                    <ul class="list-group list-group-flush">
                            {% for post in popular_posts %}
                            <li class="list-group-item list-group-item-popular">
                                <a href="{% url 'community:detail' post.id %}">
                                    {{ post.subject }}
                                </a>
                                <span class="badge bg-danger float-end">{{ post.create_date|date:"Y-m-d" }}</span>
                            </li>
                            {% empty %}
                            <li class="list-group-item">인기글이 없습니다.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12 advertisement-container">
                            <div class="ad-label"><strong>[대한신장학회] 투석전문의/인공신장실 찾기</strong></div>
                            <a href="https://www.kords-ksn.co.kr/Hospital/HospitalList_HD.php" target="_blank">
                                <!-- Inline style added to reduce height -->
                                <img src="{% static 'search_hospitals.jpeg' %}" class="img-fluid advertisement-image" style="height: 150px; object-fit: contain;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 3px; background-color: green;">
            <div class="row">
                {% for board, posts in board_posts.items %}
                <div class="col-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5>
                                {% if board.name == 'free_board' %}
                                <a href="{% url 'community:board_filtered' 'free_board' %}">자유게시판</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="자유로운 주제에 대해서 글을 올릴 수 있는 게시판 입니다.">[?]</span>
                                {% elif board.name == 'question_and_answer' %}
                                <a href="{% url 'community:board_filtered' 'question_and_answer' %}">신장투석 Q&A</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="신장투석 관련 혹은 다양한 건강관련 질문들을 올려주시면 전문 의료진들과 사이트 회원들이 답변을 작성할 수 있는 게시판입니다.">[?]</span>
                                {% elif board.name == 'battle_board' %}
                                <a href="{% url 'community:board_filtered' 'battle_board' %}">투병 이야기</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="투석 환자들이 본인의 투병 생활과 경험을 공유하는 곳입니다.">[?]</span>
                                {% elif board.name == 'study_board' %}
                                <a href="{% url 'community:board_filtered' 'study_board' %}">스터디 게시판</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="신장투석, 신장질환, 건강상식 관련 논문과 연구자료, 흥미로운 글들을 공유하는 곳입니다.">[?]</span>
                                {% elif board.name == 'healthcare_information' %}
                                <a href="{% url 'community:board_filtered' 'healthcare_information' %}">헬스케어 종합정보</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="병원과 의약품, 보험과 정책 관련 정보입니다.">[?]</span>
                                {% elif board.name == 'guidelines' %}
                                <a href="{% url 'community:board_filtered' 'guidelines' %}">공지사항</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="시노펙스 커뮤니티측에서 공유하는 공지사항 입니다.">[?]</span>
                                {% else %}
                                {% endif %}
                            </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for post in posts %}
                            <li class="list-group-item">
                                <a href="{% url 'community:detail' post.id %}">
                                    {{ post.subject }}
                                </a>
                                <span class="badge bg-info float-end">{{ post.create_date|date:"Y-m-d" }}</span>
                            </li>
                            {% empty %}
                            <li class="list-group-item">No posts yet</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

            <hr style="height: 3px; background-color: green;">
            <div class="row">
                <div class="col-lg-6 column-divider">
                    <a href="https://health.chosun.com/list.html" target="_blank" style="text-decoration: none; color: inherit;">
                        <img src="{% static 'health_chosun.png' %}" alt="healthchosun Icon" style="vertical-align: middle; margin-right: 5px; height: 30px;">
                    </a>
                    <strong>오늘의 건강상식 관련 뉴스</strong>
                    <div class="d-flex justify-content-center">
                        <div class="news-table w-100">
                            <div class="loading-indicator" style="display: none; text-align: center;">최신 뉴스를 읽어오는 중입니다... 조금만 기다려주세요!</div>
                            {% for item in scraped_data %}
                                <div class="news-row">
                                    <div class="news-cell title-cell" data-tooltip="{{ item.contents }}">
                                        <span class="news-title">{{ item.titles }}</span>
                                    </div>
                                    <div class="news-cell datetime-cell">
                                        <span class="news-datetime">{{ item.datetimes|date:"Y-m-d H:i" }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        {% for board, posts in story_posts.items %}
                            <div class="card h-100">
                                <div class="card-header">
                                    <h5>
                                        {% if board.name == 'synopex_story' %}
                                        <a href="{% url 'community:board_filtered' 'synopex_story' %}">시노펙스 이야기</a>
                                        {% endif %}
                                    </h5>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for post in posts %}
                                    <li class="list-group-item">
                                        <a href="{% url 'community:detail' post.id %}">
                                            {{ post.subject }}
                                        </a>
                                        <span class="badge bg-info float-end">{{ post.create_date|date:"Y-m-d" }}</span>
                                    </li>
                                    {% empty %}
                                    <li class="list-group-item">No posts yet</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                </div>
            </div>
            <hr style="height: 3px; background-color: green;">
            <div class="row">
                <div class="col-md-3 advertisement-container">
                    <div class="ad-label"><strong>[광고] 당신의 건강한 삶에 기여하는 시노텍스</strong></div>
                    <a href="https://synotex.com/product/detail.html?product_no=357&cate_no=1&display_group=2" target="_blank">
                        <img src="{% static 'synotex_pure_water.png' %}" class="img-fluid advertisement-image">
                    </a>
                </div>
                <div class="col-md-3 advertisement-container">
                    <div class="ad-label"><strong>[광고] 당신의 건강한 삶에 기여하는 시노텍스</strong></div>
                    <a href="https://synotex.com/product/detail.html?product_no=377&cate_no=1&display_group=2" target="_blank">
                        <img src="{% static 'synotex_shower_hose.png' %}" class="img-fluid advertisement-image">
                    </a>
                </div>
                <div class="col-md-3 advertisement-container">
                    <div class="ad-label"><strong>[광고] 당신의 건강한 삶에 기여하는 시노텍스</strong></div>
                    <a href="https://synotex.com/product/detail.html?product_no=377&cate_no=1&display_group=2" target="_blank">
                        <img src="{% static 'synotex_water.png' %}" class="img-fluid advertisement-image">
                    </a>
                </div>
                <div class="col-md-3 advertisement-container">
                    <div class="ad-label"><strong>[광고] 당신의 건강한 삶에 기여하는 시노텍스</strong></div>
                    <a href="https://synotex.com/product/detail.html?product_no=377&cate_no=1&display_group=2" target="_blank">
                        <img src="{% static 'synotex_mask.png' %}" class="img-fluid advertisement-image">
                    </a>
                </div>
            </div>
            <hr style="height: 3px; background-color: green;">
        </div>
    </div>
</div>
<div class="footer">
    <p>상호명: SYNOTEX | 대표자: 이진희 | 사업자등록번호: 211-88-02872 | 통신판매업신고번호: 제2011-서울강남-03481호 [사업자정보확인] | 고객센터: 070-7491-1237 </p>
    <p>주소: 06168 서울특별시 강남구 삼성로96길 6 (삼성동) LG트윈텔1 1710호 | 개인정보보호책임자: 이용준(paxx@synopex.com) | 입금계좌: 국민은행 590201-04-028920 | 구매안전(에스크로)서비스 정보:  KG 모빌리언스 가입확인</p>
    <p>※ SYNOTEX에서 제공하는 모든 컨텐츠는 저작권법에 보호받는 저작물로서, 무단으로 복제, 배포하는 경우에는 저작권법에 의하여 처벌을 받을 수 있습니다. Copyright © 2020 SYNOTEX. All rights reserved.</p>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });

    fetchNewsAndSentiment();
    document.getElementById('fetchTechnicalAIResponse').addEventListener('click', function() {
        fetchTechnicalAIResponse();
    });

    // Handle the form submission
    document.querySelector('.voting-container form').addEventListener('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission
        const formData = new FormData(this); // 'this' refers to the form element

        fetch("{% url 'community:submit_sentiment_vote' %}", {
            method: 'POST',
            credentials: 'include', // Needed for including cookies (CSRF token)
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest', // Indicates an AJAX request
            },
        })
        .then(response => response.json())
        .then(data => {
            // Display the success/error message
            alert(data.message); // For simplicity, using an alert
            // You might want to update the DOM instead of showing an alert
            updatePieChart(data);
        })
        .catch(error => console.error('Error:', error));
    });

    // Initialize the pie chart here to ensure the DOM is fully loaded
    // Moved the chart initialization to a separate function for clarity
    initializePieChart();
});

function fetchNewsAndSentiment() {
    // Show the loading indicator
    const loadingIndicator = document.querySelector('.loading-indicator');
    loadingIndicator.style.display = 'block'; // Show loading indicator

    fetch('{% url "community:get_news_and_sentiment" %}')
    .then(response => response.json())
    .then(data => {
        // Hide the loading indicator
        loadingIndicator.style.display = "none"; // Hide loading indicator after fetching

        // Extract data from the response
        const { scraped_data, avg_sentiment_scores_percentage, sentiment_labels } = data;

        // Update the news section
        const newsContainer = document.querySelector('.news-table');
        newsContainer.innerHTML = ''; // Clear existing news
        scraped_data.forEach(item => {
            const newsRow = document.createElement('div');
            newsRow.className = 'news-row';
            newsRow.innerHTML = `
                <div class="news-cell title-cell" data-tooltip="${item.contents}">
                    <span class="news-title">${item.titles}</span>
                </div>
                <div class="news-cell datetime-cell">
                    <span class="news-datetime">${new Date(item.datetimes).toLocaleString()}</span>
                </div>
            `;
            newsContainer.appendChild(newsRow);
        });

        // Update the sentiment scores section
        const sentimentScoresContainer = document.querySelector('.sentiment-scores');
        sentimentScoresContainer.innerHTML = ''; // Clear existing scores
        avg_sentiment_scores_percentage.forEach((score, index) => {
            const sentimentScoreDiv = document.createElement('div');
            sentimentScoreDiv.className = 'sentiment-score';
            const sentimentBar = document.createElement('div');
            sentimentBar.className = 'sentiment-bar';
            sentimentBar.style.width = `${score}%`;
            const sentimentText = document.createElement('span');
            sentimentText.className = 'sentiment-text';
            sentimentText.style.color = 'black';
            sentimentText.innerText = `${score}%`;

            sentimentScoreDiv.innerHTML = `<span class="sentiment-label">${sentiment_labels[index]}:</span>`;
            sentimentScoreDiv.appendChild(sentimentBar);
            sentimentScoreDiv.appendChild(sentimentText);

            sentimentScoresContainer.appendChild(sentimentScoreDiv);
        });
    })
    .catch(error => {
        console.error('Error fetching news and sentiment:', error);
        // Hide the loading indicator even if there is an error
        loadingIndicator.style.display = "none";
    });

    // Add the code for the new line charts here
    // Plotting 유저의 몸무게 변화
    var ctxWeight = document.getElementById('weightChangeChart').getContext('2d');
    var weightChangeChart = new Chart(ctxWeight, {
        type: 'line',
        data: {
            labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5'],
            datasets: [{
                label: '몸무게 (kg)',
                data: [84, 85, 85, 87, 85],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });

    // Plotting 유저의 섭취 칼로리 변화
    var ctxCalorie = document.getElementById('calorieIntakeChart').getContext('2d');
    var calorieIntakeChart = new Chart(ctxCalorie, {
        type: 'line',
        data: {
            labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5'],
            datasets: [{
                label: '섭취 칼로리 (kcal)',
                data: [3000, 3500, 6000, 5000, 3000],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
}

function fetchTechnicalAIResponse() {
    // Show the loading message
    document.getElementById('TechnicalLoading').style.display = 'block';
    document.getElementById('TechnicalAIResponse').innerHTML = ''; // Clear previous response

    // Use the updated dropdown ID 'citySelection'
    var city = document.getElementById('citySelection').value;

    // Append the selected city as a query parameter to the URL for the AJAX request
    var url = `{% url 'community:fetch_gpt_analysis' %}?city=${city}`;

    // Make the AJAX request with the city parameter
    fetch(url)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        // Hide the loading message
        document.getElementById('TechnicalLoading').style.display = 'none';

        // Update the DOM with the response
        document.getElementById('TechnicalAIResponse').innerHTML = data.chat_message;
    })
    .catch((error) => {
        console.error('Error:', error);
        document.getElementById('TechnicalLoading').style.display = 'none';
        document.getElementById('TechnicalAIResponse').innerHTML = '죄송합니다. 분석을 하는데 문제가 발생했습니다.';
    });
}
</script>
{% endblock %}
