{% extends "base.html" %}
{% load static %}
{% load aiphabtc_filter %}
{% load humanize %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<style>
    a {
        text-decoration: none; /* Remove underline */
        color: #007bff; /* Bootstrap default blue color for links */
    }
    .news-table {
        width: 100%;
        border-collapse: collapse;
    }
    .news-row {
        display: table-row;
    }
    .news-cell {
        display: table-cell;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        position: relative; /* for tooltip positioning */
        text-align: center; /* Center text within the cell */
    }
    .title-cell {
        font-weight: bold;
        color: #333;
        cursor: help; /* indicates that a tooltip is available */
    }
    .datetime-cell {
        color: #666;
        font-size: 0.9em;
    }
    /* Tooltip styling */
    .title-cell:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 50%; /* Start from the middle of the cell */
        transform: translateX(-50%); /* Center the tooltip */
        bottom: 100%; /* Position above the title */
        margin-bottom: 10px; /* Lift the tooltip up */
        background-color: #333;
        color: white;
        padding: 10px 15px;
        border-radius: 6px;
        font-size: 0.9em;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
        max-width: 400px;
        white-space: normal;
        text-align: left;
        overflow-y: auto;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }
    .title-cell:hover::after {
        opacity: 1;
        visibility: visible;
    }
    .sentiment-scores {
        margin: 20px 0;
    }

    .sentiment-score {
        background-color: #f2f2f2;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px;
    }

    .sentiment-bar {
        height: 20px;
        background-color: #4caf50;
        transition: width 0.3s ease;
    }

    .sentiment-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: bold;
    }

    .voting-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px; /* Adjust based on your needs */
    }

    .voting-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,.1);
        margin-top: 20px;
    }

    .voting-container form {
        width: 100%;
    }

    .voting-container .form-check {
        margin: 10px 0;
    }

    .voting-container .form-check-input {
        cursor: pointer;
    }

    .voting-container .form-check-label {
        cursor: pointer;
        font-weight: 500;
    }

    .voting-container button[type="submit"] {
        width: 100%;
        margin-top: 20px;
    }

    .tradingview-widgets {
        display: flex;
        justify-content: space-between;
    }

    .tradingview-widget-container {
        flex: 1; /* Each container takes equal width */
        margin: 0 10px; /* Add some space between the widgets */
        height: 350px;
    }

    .investment-calendar-container {
        text-align: center;
        margin: 20px auto;
        max-width: 650px; /* Adjust based on your layout's max width */
    }

    .investment-calendar-container iframe {
        width: 100%;
        border: none; /* Remove border */
        margin-bottom: 10px; /* Space between iframe and attribution */
    }

    .poweredBy {
        font-size: 0.9rem;
        color: #666;
        text-align: center;
        margin-top: 10px;
    }

    .advertisement-container {
        text-align: center; /* Center the advertisement */
        margin: 20px 0; /* Add some space around the ad */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow around the ad for depth */
        border-radius: 8px; /* Optional: Rounds the corners of the ad container */
        overflow: hidden; /* Ensures the border-radius clips the image if needed */
    }

    .advertisement-image {
        width: 100%; /* Ensures the image fills the container */
        max-height: 320px; /* Adjust this value based on your needs */
        object-fit: contain; /* Ensures the image scales properly */
        transition: transform 0.3s ease; /* Smoothly scales the image on hover */
    }

    .advertisement-container:hover .advertisement-image {
        transform: scale(1.05); /* Slightly enlarges the image on hover for a subtle interactive effect */
    }

    .ad-label {
        display: block;
        text-align: center;
        margin-bottom: 8px;
        font-size: 0.8rem;
        color: #666;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .footer {
        text-align: center; /* Center-align text */
        padding: 20px; /* Add some padding */
        background-color: #f2f2f2; /* Light grey background */
        color: #333; /* Darker text color for contrast */
        font-size: 0.9rem; /* Adjust the font size */
        border-top: 1px solid #ddd; /* Add a top border line */
        margin-top: 20px; /* Add some space above the footer */
    }

    .blur-effect {
        filter: blur(5px);
        position: relative;
    }

    .login-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        color: #333;
        border-radius: 5px; /* Optional: if your chart containers have border-radius */
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-4" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-6">
            <h3>헬스케어 대시보드</h3>
            <hr>
            <div class="weather-info my-4">
                <h5 class="mb-3">오늘의 날씨</h5>
                <div class="mb-4">
                    <label for="citySelection" class="form-label"><strong>지역 선택:</strong></label>
                    <select class="form-select" id="citySelection" onchange="window.location.href='?city=' + this.value;">
                        {% for city in cities %}
                            <option value="{{ city }}" {% if city == selected_city %}selected{% endif %}>{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">지역</th>
                            <td>{{ weather_data.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">상태</th>
                            <td>{{ weather_data.weather }}</td>
                        </tr>
                        <tr>
                            <th scope="row">온도</th>
                            <td>{{ weather_data.temperature }}°C (체감: {{ weather_data.feels }}°C)</td>
                        </tr>
                        <tr>
                            <th scope="row">최저/최고 온도</th>
                            <td>{{ weather_data.min_temp }}°C / {{ weather_data.max_temp }}°C</td>
                        </tr>
                        <tr>
                            <th scope="row">습도</th>
                            <td>{{ weather_data.humidity }}%</td>
                        </tr>
                        <tr>
                            <th scope="row">풍속</th>
                            <td>{{ weather_data.wind_speed }}m/s</td>
                        </tr>
                        <tr>
                            <th scope="row">풍향</th>
                            <td>{{ weather_data.wind_deg }}°</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: left; margin-top: 10px; margin-botton: 10px;">
                <button id="fetchTechnicalAIResponse" class="btn btn-primary">AI 날씨 정보 해석</button>
                <div id="TechnicalLoading" style="display:none;">AI가 분석중... 시간이 조금만 기다려주세요!</div>
            </div>
            <!-- GPT 일봉 추세 분석 -->
            <p id="TechnicalAIResponse">{{ technical_chat_message }}</p>
            <br>
            <div class="row">
                <div class="col-12 advertisement-container">
                    <div class="ad-label"><strong>[광고] 시노텍스 마스크 제품 가상착용, 날씨랑 미세먼지 확인은 간편하게 어플에서!</strong></div>
                    <a href="https://play.google.com/store/apps/details?id=com.lynxbus" target="_blank">
                        <img src="{% static 'synotex_maskapp_ad.png' %}" class="img-fluid advertisement-image">
                    </a>
                </div>
            </div>
            <hr style="height: 3px; background-color: green;">
            <p>
                <a href="https://health.chosun.com/list.html" target="_blank" style="text-decoration: none; color: inherit;">
                    <img src="{% static 'health_chosun.png' %}" alt="healthchosun Icon" style="vertical-align: middle; margin-right: 5px; height: 30px;">
                </a>
                <strong>최신 헬스케어 뉴스</strong>
                <div class="d-flex justify-content-center">
                    <div class="news-table w-100">
                        <div class="loading-indicator" style="display: none; text-align: center;">최신 뉴스를 읽어오는 중입니다... 조금만 기다려주세요!</div>
                        {% for item in scraped_data %}
                            <div class="news-row">
                                <div class="news-cell title-cell" data-tooltip="{{ item.contents }}">
                                    <span class="news-title">{{ item.titles }}</span>
                                </div>
                                <div class="news-cell datetime-cell">
                                    <span class="news-datetime">{{ item.datetimes|date:"Y-m-d H:i" }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </p>
            <div class="container mt-3">
                <h5>{% if user.is_authenticated %}{{ user.username }}{% else %}user{% endif %}의 몸무게 변화</h5>
                {% if user.is_authenticated %}
                <canvas id="weightChangeChart"></canvas>
                {% else %}
                <div class="blur-effect" style="height: 200px; position: relative;">
                    <canvas id="weightChangeChartblurred"></canvas>
                    <div class="login-overlay"><a href="{% url 'common:login' %}">확인하려면 로그인하세요</a></div>
                </div>
                {% endif %}
            </div>

            <div class="container mt-3">
                <h5>{% if user.is_authenticated %}{{ user.username }}{% else %}user{% endif %}의 섭취 칼로리 변화</h5>
                {% if user.is_authenticated %}
                <canvas id="calorieIntakeChart"></canvas>
                {% else %}
                <div class="blur-effect" style="height: 200px; position: relative;">
                    <canvas id="calorieIntakeChartblurred"></canvas>
                    <div class="login-overlay"><a href="{% url 'common:login' %}">확인하려면 로그인하세요</a></div>
                </div>
                {% endif %}
            </div>

            <hr style="height: 3px; background-color: green;">
            <div class="row">
                <div class="col-md-6 advertisement-container">
                    <div class="ad-label"><strong>[광고] 인류의 건강한 삶의 기여하는 시노텍스</strong></div>
                    <a href="https://synotex.com/product/detail.html?product_no=357&cate_no=1&display_group=2" target="_blank">
                        <img src="{% static 'synotex_pure_water.png' %}" class="img-fluid advertisement-image">
                    </a>
                </div>
                <div class="col-md-6 advertisement-container">
                    <div class="ad-label"><strong>[광고] 인류의 건강한 삶의 기여하는 시노텍스</strong></div>
                    <a href="https://synotex.com/product/detail.html?product_no=377&cate_no=1&display_group=2" target="_blank">
                        <img src="{% static 'synotex_shower_hose.png' %}" class="img-fluid advertisement-image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h3>커뮤니티 게시판</h3>
            <hr>
            <small>건강관리, 당뇨와 혈당관리, 신장투석 관련 더 다양한 커뮤니티도 참고해보세요</small>
            <div class="btn-group mb-3 d-inline-block" role="group" aria-label="Platform Toggle">
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'dr_diary.png' %}" alt="coinpickle Icon" style="height: 30px; margin-right: 5px;">
                    <a href="https://web.drdiary.co.kr/feed">닥터다이어리</a>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static '365health.png' %}" alt="365health Icon" style="height: 30px; margin-right: 5px;">
                    <a href="http://www.365healthcare.co.kr/index.php?channel=community_board&code=health_info">365 Healthcare</a>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'walkon.png' %}" alt="coinglass Icon" style="height: 30px; margin-right: 5px;">
                    <a href="https://swallaby.com/index2">워크온</a>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                        <img src="{% static 'diabetes.png' %}" alt="coinness Icon" style="height: 30px; margin-right: 5px;">
                        <a href="https://danggun.kr/">당뇨와건강</a>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'sense_diary.png' %}" alt="sensediary Icon" style="height: 30px; margin-right: 5px;">
                    <a href="https://sensdiary.co.kr/bbs/board.php?bo_table=member_qna&page=1">센스 다이어리</a>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'korean_kidney.png' %}" alt="kidney Icon" style="height: 30px; margin-right: 5px;">
                    <a href="https://ksn.or.kr/general/">대한신장학회</a>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'dr_cho.png' %}" alt="drcho Icon" style="height: 30px; margin-right: 5px;">
                    <a href="http://xn--zv4b80g.com/common/renal_failure.html">조병수의원</a>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'naver.png' %}" alt="naver Icon" style="height: 30px; margin-right: 5px;">
                    <a href="https://blog.naver.com/donorlove/221455337537">신장질환과 신장이식수술 Q&A</a>
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm">
                    <img src="{% static 'aha.png' %}" alt="aha Icon" style="height: 30px; margin-right: 5px;">
                    <a href="https://blog.naver.com/donorlove/221455337537">아하 현직 의사 의료 Q&A</a>
                </button>
            </div>
            <br>
            <!-- add search bar -->
            <div class="search-container">
                <form action="{% url 'aiphabtc:search_results' %}" method="get" class="row gx-2">
                    <div class="col">
                        <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search" name="q">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">포스트 검색</button>
                    </div>
                </form>
            </div>
            <br>
            <div class="row">
                {% for board, posts in board_posts.items %}
                <div class="col-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5>
                                {% if board.name == 'diet_logs' %}
                                <a href="{% url 'aiphabtc:board_filtered' 'diet_logs' %}">체중 관리팁</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="건강한 체중 관리를 위한 유용한 팁을 공유하는 커뮤니티입니다">[?]</span>
                                {% elif board.name == 'exercise_log' %}
                                <a href="{% url 'aiphabtc:board_filtered' 'exercise_log' %}">운동 기록 공유</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="운동 인증 사진과 오운완(오늘의 운동 완료)을 공유하며 서로를 독려하는 공간입니다">[?]</span>
                                {% elif board.name == 'research_paper_sharing_board' %}
                                <a href="{% url 'aiphabtc:board_filtered' 'research_paper_sharing_board' %}">논문과 정보공유 게시판</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="최신 논문과 건강 정보를 공유하며 지식을 넓히는 커뮤니티입니다">[?]</span>
                                {% elif board.name == 'weight_disease_stress' %}
                                <a href="{% url 'aiphabtc:board_filtered' 'weight_disease_stress' %}">질환과 스트레스 극복</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="질병과 스트레스를 극복하기 위한 방법과 경험을 나누는 커뮤니티입니다.">[?]</span>
                                {% elif board.name == 'insurance_policy_information' %}
                                <a href="{% url 'aiphabtc:board_filtered' 'insurance_policy_information' %}">보험과 정책 정보</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="건강 보험과 관련 정책에 대한 최신 정보를 제공하는 커뮤니티입니다">[?]</span>
                                {% elif board.name == 'health_question_and_answers' %}
                                <a href="{% url 'aiphabtc:board_filtered' 'health_question_and_answers' %}">질문과 답변</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="의료 및 건강관련 질문에 전문가와 회원들이 답변하는 질의응답 커뮤니티입니다">[?]</span>
                                {% elif board.name == 'hospital_and_medicine' %}
                                <a href="{% url 'aiphabtc:board_filtered' 'hospital_and_medicine' %}">병원과 의약품 정보</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="병원과 의약품에 대한 리뷰와 정보를 공유하는 커뮤니티입니다">[?]</span>
                                {% elif board.name == 'struggle_stories' %}
                                <a href="{% url 'aiphabtc:board_filtered' 'struggle_stories' %}">투병 이야기</a>
                                <span style="color: black; cursor: help;" data-bs-toggle="tooltip" data-bs-placement="top" title="병마와 싸우는 이들의 경험과 이야기를 나누는 위로와 공감의 공간입니다">[?]</span>
                                {% else %}
                                {{ board.name }}
                                {% endif %}
                            </h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for post in posts %}
                            <li class="list-group-item">
                                <a href="{% url 'aiphabtc:detail' post.id %}">
                                    {{ post.subject }}
                                </a>
                                <span class="badge bg-info float-end">{{ post.create_date|date:"Y-m-d" }}</span>
                            </li>
                            {% empty %}
                            <li class="list-group-item">No posts yet</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div>
                <strong>오늘 기분이 어떠신가요?</strong>
                <div class="voting-container">
                    <form id="sentimentVoteForm" action="{% url 'aiphabtc:submit_sentiment_vote' %}" method="post">
                        {% csrf_token %}
                        {% for option in sentiment_voting_options %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sentimentVoteOption" id="sentimentVoteOption{{ option.id }}" value="{{ option.id }}">
                            <label class="form-check-label" for="sentimentVoteOption{{ option.id }}">
                                {{ option.name }}
                            </label>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">Submit Vote</button>
                    </form>
                </div>
                <button class="btn btn-info mt-3" type="button" data-toggle="collapse" data-target="#sentimentResults" aria-expanded="false" aria-controls="sentimentResults">
                    유저 누적 투표 결과 보기 (%)
                </button>
                <div class="collapse" id="sentimentResults">
                    <div class="card card-body">
                        <canvas id="sentimentPieChart"></canvas> <!-- Canvas for Chart.js -->
                    </div>
                </div>
            </div>
            <hr>
            <!-- add advertisement banners here -->
            <div class="row">
                <div class="col-md-6 advertisement-container">
                    <div class="ad-label"><strong>[광고] 인류의 건강한 삶의 기여하는 시노텍스</strong></div>
                    <a href="https://synotex.com/product/detail.html?product_no=315&cate_no=1&display_group=2" target="_blank">
                        <img src="{% static 'synotex_mask.png' %}" class="img-fluid advertisement-image">
                    </a>
                </div>
                <div class="col-md-6 advertisement-container">
                    <div class="ad-label"><strong>[광고] 인류의 건강한 삶의 기여하는 시노텍스</strong></div>
                    <a href="https://synotex.com/product/detail.html?product_no=510&cate_no=1&display_group=2" target="_blank">
                        <img src="{% static 'synotex_water.png' %}" class="img-fluid advertisement-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>상호명: SYNOTEX | 대표자: 이진희 | 사업자등록번호: 211-88-02872 | 통신판매업신고번호: 제2011-서울강남-03481호 [사업자정보확인] | 고객센터: 070-7491-1237 </p>
    <p>주소: 06168 서울특별시 강남구 삼성로96길 6 (삼성동) LG트윈텔1 1710호 | 개인정보보호책임자: 이용준(paxx@synopex.com) | 입금계좌: 국민은행 590201-04-028920 | 구매안전(에스크로)서비스 정보:  KG 모빌리언스 가입확인</p>
    <p>※ SYNOTEX에서 제공하는 모든 컨텐츠는 저작권법에 보호받는 저작물로서, 무단으로 복제, 배포하는 경우에는 저작권법에 의하여 처벌을 받을 수 있습니다. Copyright © 2020 SYNOTEX. All rights reserved.</p>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    // Initialize tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });

    fetchNewsAndSentiment();
    document.getElementById('fetchTechnicalAIResponse').addEventListener('click', function() {
        fetchTechnicalAIResponse();
    });

    // Handle the form submission
    document.querySelector('.voting-container form').addEventListener('submit', function(e) {
        e.preventDefault(); // Prevent the default form submission
        const formData = new FormData(this); // 'this' refers to the form element

        fetch("{% url 'aiphabtc:submit_sentiment_vote' %}", {
            method: 'POST',
            credentials: 'include', // Needed for including cookies (CSRF token)
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest', // Indicates an AJAX request
            },
        })
        .then(response => response.json())
        .then(data => {
            // Display the success/error message
            alert(data.message); // For simplicity, using an alert
            // You might want to update the DOM instead of showing an alert
            updatePieChart(data);
        })
        .catch(error => console.error('Error:', error));
    });

    // Initialize the pie chart here to ensure the DOM is fully loaded
    // Moved the chart initialization to a separate function for clarity
    initializePieChart();
});

function fetchNewsAndSentiment() {
    // Show the loading indicator
    const loadingIndicator = document.querySelector('.loading-indicator');
    loadingIndicator.style.display = 'block'; // Show loading indicator

    fetch('{% url "aiphabtc:get_news_and_sentiment" %}')
    .then(response => response.json())
    .then(data => {
        // Hide the loading indicator
        loadingIndicator.style.display = "none"; // Hide loading indicator after fetching

        // Extract data from the response
        const { scraped_data, avg_sentiment_scores_percentage, sentiment_labels } = data;

        // Update the news section
        const newsContainer = document.querySelector('.news-table');
        newsContainer.innerHTML = ''; // Clear existing news
        scraped_data.forEach(item => {
            const newsRow = document.createElement('div');
            newsRow.className = 'news-row';
            newsRow.innerHTML = `
                <div class="news-cell title-cell" data-tooltip="${item.contents}">
                    <span class="news-title">${item.titles}</span>
                </div>
                <div class="news-cell datetime-cell">
                    <span class="news-datetime">${new Date(item.datetimes).toLocaleString()}</span>
                </div>
            `;
            newsContainer.appendChild(newsRow);
        });

        // Update the sentiment scores section
        const sentimentScoresContainer = document.querySelector('.sentiment-scores');
        sentimentScoresContainer.innerHTML = ''; // Clear existing scores
        avg_sentiment_scores_percentage.forEach((score, index) => {
            const sentimentScoreDiv = document.createElement('div');
            sentimentScoreDiv.className = 'sentiment-score';
            const sentimentBar = document.createElement('div');
            sentimentBar.className = 'sentiment-bar';
            sentimentBar.style.width = `${score}%`;
            const sentimentText = document.createElement('span');
            sentimentText.className = 'sentiment-text';
            sentimentText.style.color = 'black';
            sentimentText.innerText = `${score}%`;

            sentimentScoreDiv.innerHTML = `<span class="sentiment-label">${sentiment_labels[index]}:</span>`;
            sentimentScoreDiv.appendChild(sentimentBar);
            sentimentScoreDiv.appendChild(sentimentText);

            sentimentScoresContainer.appendChild(sentimentScoreDiv);
        });
    })
    .catch(error => {
        console.error('Error fetching news and sentiment:', error);
        // Hide the loading indicator even if there is an error
        loadingIndicator.style.display = "none";
    });

    // Add the code for the new line charts here
    // Plotting 유저의 몸무게 변화
    var ctxWeight = document.getElementById('weightChangeChart').getContext('2d');
    var weightChangeChart = new Chart(ctxWeight, {
        type: 'line',
        data: {
            labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5'],
            datasets: [{
                label: '몸무게 (kg)',
                data: [84, 85, 85, 87, 85],
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });

    // Plotting 유저의 섭취 칼로리 변화
    var ctxCalorie = document.getElementById('calorieIntakeChart').getContext('2d');
    var calorieIntakeChart = new Chart(ctxCalorie, {
        type: 'line',
        data: {
            labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5'],
            datasets: [{
                label: '섭취 칼로리 (kcal)',
                data: [3000, 3500, 6000, 5000, 3000],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
}

function fetchTechnicalAIResponse() {
    // Show the loading message
    document.getElementById('TechnicalLoading').style.display = 'block';
    document.getElementById('TechnicalAIResponse').innerHTML = ''; // Clear previous response

    // Use the updated dropdown ID 'citySelection'
    var city = document.getElementById('citySelection').value;

    // Append the selected city as a query parameter to the URL for the AJAX request
    var url = `{% url 'aiphabtc:fetch_gpt_analysis' %}?city=${city}`;

    // Make the AJAX request with the city parameter
    fetch(url)
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        // Hide the loading message
        document.getElementById('TechnicalLoading').style.display = 'none';

        // Update the DOM with the response
        document.getElementById('TechnicalAIResponse').innerHTML = data.chat_message;
    })
    .catch((error) => {
        console.error('Error:', error);
        document.getElementById('TechnicalLoading').style.display = 'none';
        document.getElementById('TechnicalAIResponse').innerHTML = 'Sorry, there was a problem fetching the analysis.';
    });
}

function initializePieChart() {
    // Assuming 'sns_data' and 'sentiment_data' are available and properly formatted
    var ctxSentiment = document.getElementById("sentimentPieChart").getContext("2d");
    // Ensure the data is correctly formatted and passed here
    var sentimentData = {
        datasets: [{
            data: {{ sentiment_data.data|safe }}, // Assuming sns_data.data is an array of numbers
            backgroundColor: [
                'darkgreen', // Dark Green
                'green',     // Green
                'red',       // Red
                'darkred',    // Dark Red
                'grey',      // Grey
            ],
        }],
        labels: {{ sentiment_data.labels|safe }}, // Assuming sentiment_data.labels is an array of strings
    };

    new Chart(ctxSentiment, {
        type: "pie",
        data: sentimentData,
        options: {
            responsive: true,
            maintainAspectRatio: false, // Adjusted for better responsiveness
        }
    });
}

</script>
{% endblock %}
